* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide {
    visibility: hidden;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contents {
    display: block;

    margin: auto;
}

.numPlayers {
    margin: 0 auto;
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
h2 {
    margin: auto 0;
}
.inputPlayers {
    display: flex;
    justify-content: center;
}
#numPlayersInput {
    width: 10vw;
    border: 2px solid black;
}
.buttonDiv {
    width:fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#btnGo {
    margin-left: 20px;
}
#wrong {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
