* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 10px;
}

.board {
    display: flex;
    height: 10vh;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;
}

div {
    border: 2px solid black;
}

.cellsContainer {
    width: 83%;
    border: 1px solid black;
    display: table;
    table-layout: fixed;
    

}

.innerDiv {
    border: 1px solid rgb(87, 87, 87);
    display: table-cell;
    vertical-align: middle;
}

.nameLeft {
    position: center;
    font-weight: 400;
    font-size: large;
}

.finalScores {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 40px;
}

input {
    max-width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 32px;
    outline: none;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .icons {
    width: 17%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.iconsNoStretch {
    width: 17%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 10vh;
    text-align: center;
}
.noStretch {
    max-width: 95%;
    max-height: 95%;
    object-fit: contain;
    
    }