* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

#wholePage {
    margin: 10px;
}

.board {
    display: flex;
    height: 10vh;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;
    border: 2px solid black;
}

.wholePage {
    border: 2px solid black;
}

.textName {
    font-size: 2em;
}

.cellsContainer {
    
    width: 83%;
    border: 1px solid black;
    display: table;
    table-layout: fixed;

}

.innerDiv {
    border: 1px solid rgb(87, 87, 87);
    display: table-cell;
    vertical-align: middle;
    border: 2px solid black;
}

.finalScores {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 2.5em;
    border: 2px solid black;
}

.scoreInput {
    max-width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 3em;
    outline: none;
  }

  .scoreInput::-webkit-outer-spin-button,
  .scoreInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .icons {
    width: 17%;
    border: 2px solid black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.iconsNoStretch {
    width: 17%;
    border: 2px solid black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 10vh;
    text-align: center;
}
.noStretch {
    max-width: 95%;
    max-height: 95%;
    object-fit: contain;
}


/* for modal: */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
  }
  
  .modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
  }
  
  .modal {
    z-index: 100;
    background: white;
    position: relative;
    margin: 1.75rem auto;
    border-radius: 3px;
    max-width: 500px;
    padding: 2rem;
  }
  
  .modal-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .modal-close-button {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    opacity: .3;
    cursor: pointer;
    border: none;
  }
  
  .button-default {
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    padding: .3rem 1rem;
    margin-left: .5rem;
    background: #247BA0;
    color: #fff;
  }

  .divModal {
      margin: auto;
  }

  .divButton {
    margin: 2vh auto;
  }